html {
    scroll-behavior: smooth;
    text-size-adjust: 100%;
}

body {
    margin: 0;
    text-align: center;
    font-family: 'NTR', sans-serif;
    /* background-image: linear-gradient(120deg, #fcf1f1 0%, #f7f9fb 100%); */
    background-color: #0A192F;
    color: #8892b0;

}
/* --------------------------------------------------------- */

.base1 {
    /* background-color: #8892b0; */
    position: absolute;
    top: 2.1rem;
    left: 3.125rem;

}
.base_home:hover {
    color: #64FFDA;
}
.base {
    top: 0;
    position: fixed;
    width: 100%;
    height: 15%;
    background-color: #0A192F;
    z-index: 200;
}
.base_home {
    text-align: left;
    margin: 0 10px;
    padding-right: 20px;
    position: relative;
    display: inline-block;
    font-size: 1rem;
}
.one {
    /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
    /* background-color: #112240; */
    position: relative;
    padding: 100px;
    /* padding-bottom: 20px; */
    width: 70%;
    height: 30%;
    top: 15%;
    margin: 50px auto 100px;
    border-radius: 70px;
    text-align: left;
}

.two {
    /* margin: 50px auto; */
    margin: 150px 50px 100px;
    padding-top: 5%;

}

.dev {
    padding-top: 0;
    margin-top: 0;
}
.yolo {
    position: absolute;
    bottom: 2rem;
    /* padding-top: 100px;
    padding-bottom: 100px; */
}
.logo_img2 {
    position: absolute;
    top: 10px;
    right: 100px;
    padding: 10px;
    width: 30%;
    float: right;
    margin: 20px;
    /* background-color: #112240; */
    border-radius: 20px;
    /* position: absolute; */
}

.logo_img1 {
    position: absolute;
    top: 10px;
    right: 100px;
    padding: 10px;
    width: 30%;
    float: right;
    margin: 20px;
    /* background-color: #112240; */
    border-radius: 20px;
    /* position: absolute; */
}
.logo_img1:hover {
    position: absolute;
    top: 20px;
    right: 110px;
    padding: 10px;
    width: 30%;
    float: right;
    margin: 20px;
    /* background-color: #112240; */
    border-radius: 20px;
    /* position: absolute; */
}

.skill_class {
    background-color: #112240;
    /* padding: 50px; */
    margin: 0 0 100px;
    border-radius: 70px;
    padding-bottom: 50px;

}
.jeetu_op:hover {
    color: #64FFDA;
    font-size: 5.5rem;

}

.dashboard_title{
    color: #CCD6F6;
}

/* --------------------------------------------------------- */
.span {
    color: rgb(100,255,218);
}

h1 {
    margin-top: 0;
    font-family: 'NTR', sans-serif;
    font-size: 5rem;
    margin: auto 0;
    color: #ccd6f6;
    font-weight: 600;
    line-height: 4rem;
}
.dashboard_text1 {
    color: #8892b0;
}
.dashboard_text1:hover {
    text-decoration: underline;
}
.unedrline {
    color: #64FFDA;
}

.dashboard_img {
    margin-top: 5%;
}
.twwo {
    margin-top: 0;
}
.dot {
    color: #64FFDA;
    padding-right: 2%;
}
.dashboard {
    color: #64FFDA;
    padding-left: 10%;
    text-align: left;
}
.dashboard_text {
    padding-left: 10%;
    text-align: left;
}
.dash_img {
    border-radius: 15px;
    text-align: left;
    width: 70%;
}
.dash_img_ver{
    width: 60%;
}

/* --------------------------------------------------------- */

h2 {
    font-family: 'NTR', sans-serif;
    font-size: 2.5rem;
    margin: 2rem auto 19;
    font-weight: bold;
    color: #CCD6F6;

}
/* --------------------------------------------------------- */
.for_border {
    z-index: 100%;
    position: relative;
    padding-top: 10px;
}

.new_border {
    position: relative;
    bottom: 50px;
    margin: auto;
    border: 1px dashed pink;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none;
}

h3 {
    font-family: 'NTR', sans-serif;
    color: #64FFDA;
    font-size: 1.5rem;

}
/* --------------------------------------------------------- */

.top_cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}
/* --------------------------------------------------------- */

.bottom_cloud {
    padding-bottom: 100px;
    position: absolute;
}

/* --------------------------------------------------------- */

a {
    color: #7D6E83;
}
/* --------------------------------------------------------- */

.skill-row {
    /* margin: 50px auto; */
    text-align: left;
    width: 70%;
    margin: 0 auto;
    border-radius: 70px;
    background-color: #112240;
    padding: 50px;

}
.jeetu:hover {
    color: #ccd6f6;
    font-size: 5.5rem;

}

.skill-row:hover {
    background-color: #0A192F;
}
.skill-row2:hover {
    background-color: #0A192F;
}
.my_img {
    width: 166.344px;
}

.skill_img1 {
    width: 30%;
    float: right;
    margin: 20px;
}

.git_img {
    position: relative;
    bottom: 10%;
    width: 25%;
    float: left;
    margin: 20px;
}

.skill_img2 {
    /* position: relative; */
    /* top: 70px; */
    /* width: 25%; */
    /* height: 60%; */
    width: 30%;
    float: left;
    margin: 20px;
    /* position: absolute; */
    /* position: absolute; */

}

hr {
    border: 0;
    border-top: 10px dotted #abb6be;
    /* border-left: 0px;
border-bottom: 0px;
border-right: 0px; */
    width: 10%;
    margin: 100px auto;
}
.skilss {
    margin: 100px auto;

}
.skill-row2 {
    /* margin: 50px auto; */
    text-align: left;
    width: 70%;
    line-height: 3;
    margin: 0 auto;
    border-radius: 70px;
    background-color: #112240;
    padding: 50px;
}
p {
    line-height: 2;
    font-size: 25px;
    /* text-align: justify; */
}

.skill-row_git {
    border-bottom: 100%;
    border-width: 20%;
    border-color: #64FFDA;
}

.git_p {
    color: #8892b0;
    line-height: 1.5;
    font-size: 25px;
}
.my_img_p {
    line-height: 2;
    width: 70%;
    margin: auto;

}
.get_in_touch {
    color: #AEBDCA;
    margin: 50px auto;
    font-size: 10rem;
}

.mountain {
    width: 70%;
    height: 50%;
}
.three {
    width: 100%;
    background-color: #112240;

    /* padding: 100px auto 100px auto; */
    height: 100px;
    padding: 30px 0 10px;
    /* padding-top: 50px;
    padding-bottom: 50px; */
}
.footer-link {
    font-size: large;
    color: #ccd6f6;
    margin: 0 50px;
    text-decoration: none;
}
.footer-link:hover {
    color: #64FFDA;
    margin: 0 50px;
    text-decoration: none;
}
.contact-message {
    text-align: center;
    width: 40%;
    margin: 30px auto;

}

.dashboard_profile {
    margin-top:10% ;
    background-color: #112240;
    border-radius: 20px;
}
.goal {
    display: inline-block;
    position: relative;
    width: 30%;

}
.goal_class {
    font-size: 1.5rem;
    line-height: 1.6;
    margin-right: 7%;
    margin-left: 7%;
    /* text-align: center; */
    border: #009F9D;
}

.more {
    width: 50px;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #ccd6f6;
    border: none;
    border-radius: 45px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #ccd6f6;
    border: none;
    border-radius: 45px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #64FFDA;
    box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);
    color: black;
    transform: translateY(-7px);
}

button:active {
    transform: translateY(-1px);
}
/* .btn {
    background: #a2c3de;
    background-image: -webkit-linear-gradient(top, #a2c3de, #AEBDCA);
    background-image: -moz-linear-gradient(top, #a2c3de, #AEBDCA);
    background-image: -ms-linear-gradient(top, #a2c3de, #AEBDCA);
    background-image: -o-linear-gradient(top, #a2c3de, #AEBDCA);
    background-image: linear-gradient(to bottom, #a2c3de, #AEBDCA);
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px;
    text-decoration: none;
}

.btn:hover {

    background: #AEBDCA;
    background-image: -webkit-linear-gradient(top, #AEBDCA, #a2c3de);
    background-image: -moz-linear-gradient(top, #AEBDCA, #a2c3de);
    background-image: -ms-linear-gradient(top, #AEBDCA, #a2c3de);
    background-image: -o-linear-gradient(top, #AEBDCA, #a2c3de);
    background-image: linear-gradient(to bottom, #AEBDCA, #a2c3de);
    text-decoration: none;
} */
.copy_right {
    color: #edeff0;
    font-size: 0.6rem;
    padding-top: 30px;
}
.hi {
    width: 6%;
}
.hello {
    margin-bottom: 0;
}
.in_process {
    font-family: 'Montserrat', sans-serif;
    color: #64FFDA;
    margin: auto;

}
.illustration_1 {
    border-radius: 5%;
    width: 16rem;
    margin: 100px 50px;

}
.img_box {
    background-color: #112240;
    /* padding: 50px; */
    border-radius: 70px;
    margin: 1px;
    position: relative;
    display: inline-block;
}
.illustration_2 {
    margin: 100px auto;
    width: 16rem;
    height: 16rem;
}
.illustration_skill {
    /* margin: 50px 50px; */
    /* text-align: left; */
    width: 100%;
    /* line-height: 3; */
}
.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
}
.bg {
    background: linear-gradient(45deg, #000850 0%, #000320 100%), radial-gradient(100% 225% at 100% 0%, #FF6928 0%, #000000 100%), linear-gradient(225deg, #FF7A00 0%, #000000 100%), linear-gradient(135deg, #CDFFEB 10%, #CDFFEB 35%, #009F9D 35%, #009F9D 60%, #07456F 60%, #07456F 67%, #0F0A3C 67%, #0F0A3C 100%);
    background-blend-mode: screen, overlay, hard-light, normal;
}
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

body {
    background-color: #0A192F;
    color: #8892b0;
    margin: 0;
    /* background-color: black; */
    text-align: center;
}
h2 {
    font-family: 'NTR', sans-serif;
    font-size: 2.5rem;
    margin: 2rem auto 19;
    font-weight: bold;
    color: #CCD6F6;

}
a {
    text-decoration: none;
}
.header {
    text-align: left;
    color: #64FFDA;
    font-size: 1.5rem;
}
.sub_img {
    color: aqua;
    margin: 10%;
}
.portfolio-photo {
    float: left;
    width: 20%;
}
.img {
    padding-top: 2%;
    width: 90%;
}
.title {
    margin: o auto;
    width: 80%;
}

.img {
    width: 90%;
    margin: 5% auto;
    background-color: #0c0b0b;
    border-radius: 5%;
}

hr {
    width: 60%;
    /* margin: 0; */
}

.icon {
    float: left;
    width: 20%;
    padding-right: 2%;
    margin-left: 5%;

}

.three {
    width: 100%;
    background-color: #112240;
    /* padding: 100px auto 100px auto; */
    height: 100px;
    padding: 30px 0 10px;
    /* padding-top: 50px;
    padding-bottom: 50px; */
}

.footer-link {
    font-size: large;
    color: #ccd6f6;
    margin: 0 50px;
}

.footer-link:hover {
    color: #64FFDA;
    margin: 0 50px;
    text-decoration: none;
}

.copy_right {
    color: #edeff0;
    font-size: 0.6rem;
    padding-top: 30px;
    text-align: center;
}

p {
    text-align: justify;
}

.canvas {
    position: relative;
    text-align: center;
    padding-bottom: 10%;
}

.base1 {
    /* background-color: #8892b0; */
    position: absolute;
    top: 2.1rem;
    left: 3.125rem;

}
.base_home:hover {
    color: #64FFDA;
}

.portfolio_headline:hover {
    text-decoration: underline;
}
.base {
    top: 0;
    position: fixed;
    width: 100%;
    height: 15%;
    background-color: #0A192F;
    z-index: 200;
}
.base_home {
    text-align: left;
    margin: 0 10px;
    padding-right: 20px;
    position: relative;
    display: inline-block;
    font-size: 1rem;
}
